body {
	margin:0;
	padding:0;
	text-align: center;
	background-color: #EFF3FF;
}

h1 {
	color: #FFDDD5;
	font-size: 80px;
}
h1:first-letter {
font-size:150%;
color:#959EB3;
}

textarea {
	width: 97%;
}

button {
	float: right;
}

#myBox {
	width: 50%;
	margin:auto;
	background-color: white;
	border: 1px solid #ABB39E;
	padding: 40px 0 30px 0;
}

footer {
	width:100%;	
	background-color: #959EB3;
	position: absolute; /* to keep .footer on bottom */
	bottom: 0px;    /* to keep .footer on bottom */
	height:40px; /* height must be smaller then .page's bottom padding */

}