body {
	margin:0;
	padding:0;
	width:1024px;
	height:640px;
	border:3px solid black;

    background-image: url(../pics/brick.jpg);
 	background-attachment:fixed;
 	background-size: ; 

}



footer {
	position:fixed !important;   
    bottom:0px;
 	height:50px;
	width:1024px;
   	background-color: rgba(0, 0, 0, .60);
   	border-top:5px solid black;
   	border-bottom: 5px solid black;

}

#photo {	
	
	
}

#iconBottom ul {
	list-style: none;

	
}
#iconBottom  {
	position: ;
	background-color: red;
}

/*        POPUP        */

#window {	
	margin-top:20px;
	margin-left: 20px;
	position: ;
	background-color: #5D6B74;
	width:300px;
	height: 400px;
	border: 2px solid #94A4A5;
	border-radius:10px;
	
}

#window img {
	/*width: 6%;*/
	float:left;
}
#p1 {
	margin:0;
	color: #BFC0A2;
	float:left;	
}
#p2 {
	margin:0;
	float:right;
	margin-bottom: 30px;
}
#mainDiv {
	width: 100%;
	height: 320px;
	margin-left: 1px;
	float:left;
	background-color: #F2F5E9;
	
}


#mainDiv a{
	margin: 5px;
float: left;
z-index: 0;
background-color: #94A4A5;
border: 3px solid #5D6B74;
width: 70px;
display: block;
text-decoration: none;
padding: 2px 10px;
}
#mainDiv img {
	z-index:0;
    

}

#p3 {
	margin:0;
	float:left;
}

/*
https://kuler.adobe.com/treesinthewoods-color-theme-3277114/
*/