

body {
	
background-color: black;
}

#payForm {
	z-index: -1;
	width: 80%;
	

}
form {
	float:left;
}
button {
	float:right;
}

#blurDiv {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .75);



}

#popDiv {
 	
	
	background-color: red;
  
  
}

/*background-color: rgba(0, 0, 0, .75);*/